*{
font-family: Vazir-FD;
list-style: none;
text-decoration: none;
user-select: none;
}

@font-face {
    font-family:'Vazir-FD';
    src: url('../font/vazir/woff/Vazir-FD.woff') format('woff');
}

@keyframes typing{
    from {
        width: 0;
    }
}

@media only screen and (max-width: 600px){

.navbarOrg{
        background-image: url(../img/BackEdit1-min.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;

        /* min-height: 500px;  */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

.navbarLogo{
    color: white;
}

.navbarWelcomParagraf{
    direction: ltr;
    color: white;
    font-weight: bold;
    width: 10ch;
    animation: typing 3s steps(13 , end), cursor-blink 0.7s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    padding: 15vh 0 0 0;
}

.cartOrg{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 0px rgb(228 228 228);
    padding: 5px 10px 5px 5px;
    margin: 0 0 20px 0;
}

.titleVideo{
    color: darkgoldenrod;
    font-weight: bold;
}

.cartTitle{
    color: darkgoldenrod;
    font-weight: bolder;
    font-size: 16px;
}

.cartParagraf{
    color: lightslategray;
    font-size: 12px;
}

/* .carousel-item img{
    width: 150px !important;
    border-radius: 50%;
} */

.carslimg{
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 8px;
}

.menuBtn{
    background: none;
    border: none;
    color: white;
    margin: 20px 5px 0 0;
    font-size: 12px;
}

#shHid{
    display: block;
}
#shHidTim{
    display: none;
}
#learnDis{
    display: none;
}
.timCart{
    box-shadow: 0 0 4px 0 rgb(226, 226, 226);
    padding: 15px;
    border-radius: 5px;
}
.timCart img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
}
.timCart h5{
    display: inline-block;
    font-weight: bold;
}
.Exercisehistory{
    font-size: 16px;
    font-weight: bold;
}
.Exercisehistory span{
    color: darkslategray;
    font-size: 13px;
}

.disShow{
    display: block;
}

.gymTitle{
    color: darkgoldenrod;
    font-weight: bold;
    text-align: right;
}
footer{
    background-color: rgb(226, 226, 226);
}
.backDesignBy{
    background-color: rgb(218, 218, 218);
}
.desginBy{
    font-size: 15px;
    margin: 0;
    padding: 5px;
    text-align: center;
    color: rgb(148, 148, 148);
}
.callWithLi{
    font-size: 13px;
    /* margin: 3px; */
    display: inline-block;
}
.callWithUl a{
    text-decoration: none;
}
.hoghooghir{
    font-size: 10px;
    color: gray;
    margin: 0;
}
.footerTitle{
    font-weight: bold;
}
video{
    border-radius: 6px;
}
.fa-instagram{
    color: purple;
}
.fa-telegram{
    color: blue;
}
.fa-phone{
    color: white;
}

.hidden {
    opacity: 0;
  }
  .texteffectEdit{
      text-align: center;
      margin-top: 14vh;
      font-size: 28px;
  }
  .card-header{
      background-color: white !important;
  }
  .btn{
      font-size: 14px !important;
  }
  .btn:focus{
      outline: none !important;
      box-shadow: none !important;
  }

  .dropbtn {
    color: white;
    border: none;
    background: none;
    font-size: 12px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  .dropdown-content a {
      font-size: 13px;
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a button{
      background: none;
      border: none;
      border-bottom: 1px solid darkgoldenrod;
      padding: 5px 0px 6px 0;
      width: 100px;
  }
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
}

@media only screen and (min-width: 600px) and (max-width:768px){

    .navbarOrg{
        background-image: url(../img/BackEdit1-min.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;

        /* min-height: 500px;  */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

.navbarLogo{
    color: white;
}

.navbarWelcomParagraf{
    direction: ltr;
    color: white;
    font-weight: bold;
    width: 10ch;
    animation: typing 3s steps(13 , end), cursor-blink 0.7s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    padding: 15vh 0 0 0;
}

.cartOrg{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 0px rgb(228 228 228);
    padding: 5px 10px 5px 5px;
    margin: 0 0 20px 0;
}

.titleVideo{
    color: darkgoldenrod;
    font-weight: bold;
}

.cartTitle{
    color: darkgoldenrod;
    font-weight: bolder;
    font-size: 16px;
}

.cartParagraf{
    color: lightslategray;
    font-size: 12px;
}

/* .carousel-item img{
    width: 150px !important;
    border-radius: 50%;
} */

.carslimg{
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 8px;
}

.menuBtn{
    background: none;
    border: none;
    color: white;
    margin: 20px 5px 0 0;
    font-size: 12px;
}

#shHid{
    display: block;
}
#shHidTim{
    display: none;
}
#learnDis{
    display: none;
}
.timCart{
    box-shadow: 0 0 4px 0 rgb(226, 226, 226);
    padding: 15px;
    border-radius: 5px;
}
.timCart img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
}
.timCart h5{
    display: inline-block;
    font-weight: bold;
}
.Exercisehistory{
    font-size: 16px;
    font-weight: bold;
}
.Exercisehistory span{
    color: darkslategray;
    font-size: 13px;
}

.disShow{
    display: block;
}

.gymTitle{
    color: darkgoldenrod;
    font-weight: bold;
    text-align: right;
}
footer{
    background-color: rgb(226, 226, 226);
}
.backDesignBy{
    background-color: rgb(218, 218, 218);
}
.desginBy{
    font-size: 16px;
    margin: 0;
    padding: 5px;
    text-align: center;
    color: rgb(148, 148, 148);
}
.callWithLi{
    font-size: 13px;
    margin: 10px;
}
.callWithUl a{
    text-decoration: none;
}
.hoghooghir{
    font-size: 10px;
    color: gray;
    margin: 0;
}
.footerTitle{
    font-weight: bold;
}
video{
    border-radius: 6px;
}
.fa-instagram{
    color: purple;
}
.fa-telegram{
    color: blue;
}
.fa-phone{
    color: white;
}
.hidden {
    opacity: 0;
  }
  .texteffectEdit{
      text-align: center;
      margin-top: 14vh;
      font-size: 28px;
  }
  .card-header{
      background-color: white !important;
  }
  .btn{
      font-size: 14px !important;
  }
  .btn:focus{
      outline: none !important;
      box-shadow: none !important;
  }
}

@media only screen and (min-width: 769px) and (max-width:992px){

    .navbarOrg{
        background-image: url(../img/BackEdit1-min.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;

        /* min-height: 500px;  */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

.navbarLogo{
    color: white;
}

.navbarWelcomParagraf{
    direction: ltr;
    color: white;
    font-weight: bold;
    width: 10ch;
    animation: typing 3s steps(13 , end), cursor-blink 0.7s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    padding: 15vh 0 0 0;
}

.cartOrg{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 0px rgb(228 228 228);
    padding: 5px 10px 5px 5px;
    margin: 0 0 20px 0;
}

.titleVideo{
    color: darkgoldenrod;
    font-weight: bold;
}

.cartTitle{
    color: darkgoldenrod;
    font-weight: bolder;
    font-size: 16px;
}

.cartParagraf{
    color: lightslategray;
    font-size: 12px;
}

/* .carousel-item img{
    width: 150px !important;
    border-radius: 50%;
} */

.carslimg{
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 8px;
}

.menuBtn{
    background: none;
    border: none;
    color: white;
    margin: 20px 5px 0 0;
    font-size: 12px;
}

#shHid{
    display: block;
}
#shHidTim{
    display: none;
}
#learnDis{
    display: none;
}
.timCart{
    box-shadow: 0 0 4px 0 rgb(226, 226, 226);
    padding: 15px;
    border-radius: 5px;
}
.timCart img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
}
.timCart h5{
    display: inline-block;
    font-weight: bold;
}
.Exercisehistory{
    font-size: 16px;
    font-weight: bold;
}
.Exercisehistory span{
    color: darkslategray;
    font-size: 13px;
}

.disShow{
    display: block;
}

.gymTitle{
    color: darkgoldenrod;
    font-weight: bold;
    text-align: right;
}
footer{
    background-color: rgb(226, 226, 226);
}
.backDesignBy{
    background-color: rgb(218, 218, 218);
}
.desginBy{
    font-size: 16px;
    margin: 0;
    padding: 5px;
    text-align: center;
    color: rgb(148, 148, 148);
}
.callWithLi{
    font-size: 13px;
    margin: 10px;
}
.callWithUl a{
    text-decoration: none;
}
.hoghooghir{
    font-size: 10px;
    color: gray;
    margin: 0;
}
.footerTitle{
    font-weight: bold;
}
video{
    border-radius: 6px;
}
.fa-instagram{
    color: purple;
}
.fa-telegram{
    color: blue;
}
.fa-phone{
    color: white;
}
.hidden {
    opacity: 0;
  }
  .texteffectEdit{
      text-align: center;
      margin-top: 14vh;
      font-size: 28px;
  }
  .card-header{
      background-color: white !important;
  }
  .btn{
      font-size: 14px !important;
  }
  .btn:focus{
      outline: none !important;
      box-shadow: none !important;
  }
}

@media only screen and (min-width: 993px) and (max-width:1200px){

    .navbarOrg{
        background-image: url(../img/BackEdit1-min.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;

        /* min-height: 500px;  */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

.navbarLogo{
    color: white;
}

.navbarWelcomParagraf{
    direction: ltr;
    color: white;
    font-weight: bold;
    width: 10ch;
    animation: typing 3s steps(13 , end), cursor-blink 0.7s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    padding: 15vh 0 0 0;
}

.cartOrg{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 0px rgb(228 228 228);
    padding: 5px 10px 5px 5px;
    margin: 0 0 20px 0;
}

.titleVideo{
    color: darkgoldenrod;
    font-weight: bold;
}

.cartTitle{
    color: darkgoldenrod;
    font-weight: bolder;
    font-size: 16px;
}

.cartParagraf{
    color: lightslategray;
    font-size: 12px;
}

/* .carousel-item img{
    width: 150px !important;
    border-radius: 50%;
} */

.carslimg{
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 8px;
}

.menuBtn{
    background: none;
    border: none;
    color: white;
    margin: 20px 5px 0 0;
    font-size: 12px;
}

#shHid{
    display: block;
}
#shHidTim{
    display: none;
}
#learnDis{
    display: none;
}
.timCart{
    box-shadow: 0 0 4px 0 rgb(226, 226, 226);
    padding: 15px;
    border-radius: 5px;
}
.timCart img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
}
.timCart h5{
    display: inline-block;
    font-weight: bold;
}
.Exercisehistory{
    font-size: 16px;
    font-weight: bold;
}
.Exercisehistory span{
    color: darkslategray;
    font-size: 13px;
}

.disShow{
    display: block;
}

.gymTitle{
    color: darkgoldenrod;
    font-weight: bold;
    text-align: right;
}
footer{
    background-color: rgb(226, 226, 226);
}
.backDesignBy{
    background-color: rgb(218, 218, 218);
}
.desginBy{
    font-size: 16px;
    margin: 0;
    padding: 5px;
    text-align: center;
    color: rgb(148, 148, 148);
}
.callWithLi{
    font-size: 13px;
    margin: 10px;
}
.callWithUl a{
    text-decoration: none;
}
.hoghooghir{
    font-size: 10px;
    color: gray;
    margin: 0;
}
.footerTitle{
    font-weight: bold;
}
video{
    border-radius: 6px;
}
.fa-instagram{
    color: purple;
}
.fa-telegram{
    color: blue;
}
.fa-phone{
    color: white;
}
.hidden {
    opacity: 0;
  }
  .texteffectEdit{
      text-align: center;
      margin-top: 14vh;
      font-size: 28px;
  }
  .card-header{
      background-color: white !important;
  }
  .btn{
      font-size: 14px !important;
  }
  .btn:focus{
      outline: none !important;
      box-shadow: none !important;
  }
}

@media only screen and (min-width: 1201px){

    .navbarOrg{
        background-image: url(../img/BackEdit1-min.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 65vh;

        /* min-height: 500px;  */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

.navbarLogo{
    color: white;
}

.navbarWelcomParagraf{
    direction: ltr;
    color: white;
    font-weight: bold;
    width: 10ch;
    animation: typing 3s steps(13 , end), cursor-blink 0.7s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    padding: 15vh 0 0 0;
}

.cartOrg{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 0px rgb(228 228 228);
    padding: 5px 10px 5px 5px;
    margin: 0 0 20px 0;
}

.titleVideo{
    color: darkgoldenrod;
    font-weight: bold;
}

.cartTitle{
    color: darkgoldenrod;
    font-weight: bolder;
    font-size: 16px;
}

.cartParagraf{
    color: lightslategray;
    font-size: 12px;
}

/* .carousel-item img{
    width: 150px !important;
    border-radius: 50%;
} */

.carslimg{
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 8px;
}

.menuBtn{
    background: none;
    border: none;
    color: white;
    margin: 20px 5px 0 0;
    font-size: 12px;
}

#shHid{
    display: block;
}
#shHidTim{
    display: none;
}
#learnDis{
    display: none;
}
.timCart{
    box-shadow: 0 0 4px 0 rgb(226, 226, 226);
    padding: 15px;
    border-radius: 5px;
}
.timCart img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
}
.timCart h5{
    display: inline-block;
    font-weight: bold;
}
.Exercisehistory{
    font-size: 16px;
    font-weight: bold;
}
.Exercisehistory span{
    color: darkslategray;
    font-size: 13px;
}

.disShow{
    display: block;
}

.gymTitle{
    color: darkgoldenrod;
    font-weight: bold;
    text-align: right;
}
footer{
    background-color: rgb(226, 226, 226);
}
.backDesignBy{
    background-color: rgb(218, 218, 218);
}
.desginBy{
    font-size: 16px;
    margin: 0;
    padding: 5px;
    text-align: center;
    color: rgb(148, 148, 148);
}
.callWithLi{
    font-size: 13px;
    margin: 10px;
}
.callWithUl a{
    text-decoration: none;
}
.hoghooghir{
    font-size: 10px;
    color: gray;
    margin: 0;
}
.footerTitle{
    font-weight: bold;
}
video{
    border-radius: 6px;
}
.fa-instagram{
    color: purple;
}
.fa-telegram{
    color: blue;
}
.fa-phone{
    color: white;
}
.hidden {
    opacity: 0;
  }
  .texteffectEdit{
      text-align: center;
      margin-top: 14vh;
      font-size: 28px;
  }
  .card-header{
      background-color: white !important;
  }
  .btn{
      font-size: 14px !important;
  }
  .btn:focus{
      outline: none !important;
      box-shadow: none !important;
  }
}