*{
font-family: Vazir-FD;
list-style: none;
text-decoration: none !important;
user-select: none;
}

@font-face {
    font-family:'Vazir-FD';
    src: url('../font/vazir/woff/Vazir-FD.woff') format('woff');
}

@keyframes typing{
    from {
        width: 0;
    }
}
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(1px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-1px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(1px, 0, 0);
    }
  }
  
@media only screen and (max-width: 600px){

.navbarOrg{
        background-image: url(../img/BackEdit1-min.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 55vh;

        /* min-height: 500px;  */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

.navbarLogo{
    color: white;
}

.navbarWelcomParagraf{
    direction: ltr;
    color: white;
    font-weight: bold;
    width: 10ch;
    animation: typing 3s steps(13 , end), cursor-blink 0.7s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    padding: 15vh 0 0 0;
}

.cartOrg{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 0px rgb(228 228 228);
    padding: 5px 10px 5px 5px;
    margin: 0 0 20px 0;
}

.titleVideo{
    color: darkgoldenrod;
    font-weight: bold;
}

.cartTitle{
    color: darkgoldenrod;
    font-weight: bolder;
    font-size: 16px;
}

.cartParagraf{
    color: lightslategray;
    font-size: 12px;
}

/* .carousel-item img{
    width: 150px !important;
    border-radius: 50%;
} */

.carslimg{
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 8px;
    box-shadow: 0 0 2px 1px darkgoldenrod;
    border: 2px solid white;
}

.menuBtn{
    background: none;
    border: none;
    color: white;
    margin: 20px 0px 0 0;
    font-size: 12px;
}

#shHid{
    display: block;
}
#shHidTim{
    display: none;
}
#learnDis{
    display: none;
}
.timCart{
    box-shadow: 0 0 4px 0 rgb(226, 226, 226);
    padding: 15px;
    border-radius: 5px;
}
.timCart:hover{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
.timCart img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
}
.timCart h5{
    display: inline-block;
    font-weight: bold;
}
.Exercisehistory{
    font-size: 13px;
    font-weight: bold;
    margin: 2px;
}
.Exercisehistory span{
    color: darkslategray;
    font-size: 12px;
}

.disShow{
    display: block;
}

.gymTitle{
    color: darkgoldenrod;
    font-weight: bold;
    text-align: right;
}
footer{
    background-color: rgb(226, 226, 226);
}
.backDesignBy{
    background-color: rgb(218, 218, 218);
}
.desginBy{
    font-size: 15px;
    margin: 0;
    padding: 5px;
    text-align: center;
    color: rgb(148, 148, 148);
}
.callWithLi{
    font-size: 13px;
    /* margin: 3px; */
    display: inline-block;
    color: darkslateblue;
}
.callWithUl a{
    text-decoration: none;
}
.hoghooghir{
    font-size: 10px;
    color: gray;
    margin: 0;
}
.footerTitle{
    font-weight: bold;
}
video{
    border-radius: 6px;
}
.fa-instagram{
    color: purple;
}
.fa-telegram{
    color: blue;
}
.fa-phone{
    color: white;
}

.hidden {
    opacity: 0;
  }
  .texteffectEdit{
      text-align: center;
      margin-top: 16vh;
      font-size: 28px;
  }
  .card-header{
      background-color: white !important;
  }
  .btn{
      font-size: 14px !important;
      font-weight: bolder !important;
  }
  .btn:focus{
      outline: none !important;
      box-shadow: none !important;
  }

  .dropbtn {
    color: white;
    border: none;
    background: none;
    font-size: 12px;
    font-weight: bold;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1f6;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.178);
    z-index: 1;
    border-radius: 5px;
    margin-top: 10px;
  }
  .dropdown-content a {
      font-size: 13px;
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a button{
      background: none;
      border: none;
      border-bottom: 1px solid darkgoldenrod;
      padding: 5px 0px 6px 0;
      width: 100px;
  }
  .dropdown a:hover {background-color: #ddd;}
  .show {display: block;}

  #service , #serviceTshirt , #BMICalc , #DietCode{
      display: none;
  }
  .serviceCard{
    box-shadow: 0px 0px 7px 0px rgb(228 228 228);
  }
  .serviceCardImg{
      width: 100px;
      height: 100px;
  }
  .servicTitle{
      font-size: 18px;
      font-weight: bolder;
  }
  .buyBtn{
    background: darkgoldenrod;
    color: white;
    border: 1px solid darkgoldenrod;
    border-radius: 5px;
    font-size: 14px;
    padding: 7px;
  }
  .Discountprice{
      font-weight: bolder;
    font-size: 13px;
    color: darkgoldenrod;
    text-decoration: line-through;
    font-family: 'Font Awesome 5 Brands';
  }
  #priceOrg{
      font-weight: bolder;
    font-size: 13px;
    color: darkgoldenrod;
    font-family: 'Font Awesome 5 Brands';
  }
  #price , #priceGainer , #priceAminoPex{
      display: block;
      margin-top: 5px;
      font-size: 14px;
      font-weight: bolder;
      font-family: 'Font Awesome 5 Brands';
  }
  .numberofnumber{
      background: none;
      border: 1px solid darkgoldenrod;
      border-radius: 3px;
      color: darkgoldenrod;
  }
  #number , #numberGainer , #numberAminoPex{
    font-family: 'Font Awesome 5 Brands';
  }
  .fa-star{
      color: darkgoldenrod;
      font-size: 12px;
  }
  .searchInput{
    background: none;
    border: none;
    box-shadow: 0px 0px 2px 0px rgb(189 189 189);
    border-radius: 5px;
    width: 60%;
    height: 5vh;
    font-size: 12px;
  }
  .searchInput:focus{
      outline: 1px solid darkgoldenrod;
      border-radius: 5px;
  }
  .searchBtn{
      background: none;
      border: 1px solid darkgoldenrod;
      border-radius: 5px;
      margin: 5px;
      box-shadow: 0px 0px 2px 0px rgb(189 189 189);
  }
  .fa-search{
      font-size: 14px;
      color: darkgoldenrod;
  }
  .formSerch{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .stickyedt{
    background-color: white;
    box-shadow: 0px 0px 2px 0px rgb(189 189 189);
    padding: 10px;
    border-radius: 0px 0px 50px 50px;
  }
  .copyBtn{
        background: darkgoldenrod;
        border: none;
        box-shadow: 0 0 2px 0 darkgoldenrod;
        border-radius: 5px;
        padding: 9px;
        color: white;
        font-weight: bold;
        width: 90%;
  }

.modalBody{
    display: none;
    background: white;
    padding: 5px;
    color: black;
    font-weight: bolder;
    font-size: 11px;
}
.posEstyle{
    border-radius: 8px;
    padding: 10px;
    border: 1px solid darkgoldenrod;
    background: none;
    font-size: 12px;
    font-weight: bolder;
    color: darkgoldenrod;
}
.fa-trash{
    color: black;
    font-size: 18px;
}
#trashIcon{
    background: none;
    border: none;
    float: left;
    padding: 15px;
}
.endTheCart{
    margin: 0 auto;
    width: 80%;
    border: 2px solid darkgoldenrod;
    background: none;
    border-radius: 5px;
    margin: 5px;
    padding: 8px;
    font-size: 15px;
    color: darkgoldenrod;
    font-weight: bold;
}
.endTheCart:hover{
    background: darkgoldenrod;
    color: white;
}
#valueCopy{
    text-align: center;
}
#inputVal{
    height: 20vh;
    width: 100%;
    padding: 10px;
    border: 1px solid darkgoldenrod;
    border-radius: 5px;
}
#deleteFinish{
    display: none;
    text-align: center;
    color: gray;
    padding: 15px;
    font-size: 14px;
}
.delBtn{
    display: none;
    border: none;
    background: none;
}
.fa-trash{
    font-size: 12px;
}
.paginationOrg{
    text-align: left;
    direction: ltr;
    margin: 20px 0 20px 0;
}
.pagintion{
    color: black !important;
    padding: 7px;
        font-size: 15px;
        text-decoration: none;
        font-family: cursive;
}
.activePagintion{
    background-color: darkgoldenrod;
    border-radius: 4px;
    color: white !important;
}
.NamePN{
    background: none;
    border: none;
    color: rgb(165, 165, 165);
    font-size: 17px;
}
.NameNx{
    background: none;
    border: none;
    color: rgb(165, 165, 165);
    font-size: 17px;
    display: none;
}
.NamePN i{
    font-size: 18px;
}
#listNameSecond{
    display: none;
}
.tableCss{
    border: 1px solid darkgoldenrod ;
    border-radius: 4px ;
    padding: 10px ;
    width: 100%;
    border-collapse: initial;
}
.thCss , .tdCss{
    border: 1px dashed goldenrod;
    padding: 6px;
}
.BmiInput{
    background: none;
    border: 1px solid darkgoldenrod;
    border-radius: 5px;
    padding: 5px;
    width: 30%;
}
.BMIEnter{
    background-color: darkgoldenrod;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px;
}
.BMIWhat{
    font-weight: bold;
}
.BMIP{
    text-align: justify;
    line-height: 30px;
}
.finishSpan{
    display: none;
    font-size: 13px;
    color: forestgreen;
    font-weight: bold;
}
.btnGymCss{
    background: none;
    border: 2px solid darkgoldenrod !important;
    color: darkgoldenrod !important;
    border-radius: 5px !important;
    width: 50% !important;
    padding: 8px !important;
}
#mokamel2 , #mokamel3 , #mokamel4{
    display: none;
}
.rulledt{
    display: flex;
    align-items: center;
    justify-content: center;
}
.rullinput{
    display: inline-block;
}
.rulllabale{
    display: inline-block;
    font-size: 12px;
}
.rulcolor{
    color: #0d6efd;
}
.titleInfoMokamel{
    color: darkgoldenrod;
}
.titleInfoMokamel:focus{
    outline: none !important;
    border: none;
    box-shadow: none;
}
.titleInfoMokamel i{
    color: darkgoldenrod;
}
.paragrafInfoMokamel{
    text-align: justify;
    font-size: 13px;
    line-height: 30px;
    margin-top: 10px;
}
.DietPic{
    width: 100%; height: 100%;
    border-radius: 5px;
}
.DietParagrafFirst{
    text-align: justify;
    color: darkslategray;
    font-size: 13px;
    line-height: 30px;
}
.DietTitle{
    font-size: 18px;
    font-weight: bold;
    color: darkgoldenrod;
    text-align: center;
}
table {
    border-collapse: collapse !important;
    width: 100%;
  }
  
  td {
    border: 1px solid #dddddd !important;
    text-align: center !important;
    font-size: 12px;
  }
  th{
    border: 1px solid #dddddd !important;
    font-weight: bold;
    font-size: 13px;
    padding: 5px;
  }
  tr:nth-child(even) {
    background-color: rgba(184, 135, 11, 0.671);
    color: white;
  }
  .WeightGain{
      text-align: right;
      font-family: 'Vazir-FD';
      font-size: 18px;
      font-weight: bold;
      display: inline-block;
  }
  .PDFDownloadOne{
      text-decoration: none;
      color: blue;
      display: inline-block;
      font-size: 12px;
  }
  .strongParagraf{
      color: darkslategray;
      font-size: 13px;
  }
  .WeightGainCardPic{
    width: 100%;
    height: 100%;
    border-radius: 8px 0px 0px 8px;
  }
  .WeightGainCard{
      border-radius: 8px;
      box-shadow: 0 0 2px 0 rgb(184, 184, 184);
  }
  .cardSpan{
    margin: 0 7px 0 0px;
    color: black;
    font-weight: bold;
    font-size: 13px;
  }
  .changeNum{
      text-decoration: line-through !important;
      color: lightslategray !important;
      font-weight: normal !important;
  }
  .cardWGTitle{
    text-align: center;
    margin: 10px 0 0 0;
    font-size: 16px;
    font-weight: bold;
    color: darkgoldenrod;
  }
  .padStyl{
      padding: 5px;
  }
  .divtakhfif{
      display: inline-block;
      width: 10%;
  }
  .spantakhfif{
    display: inline-block;
    font-weight: bold;
  }
  .orgTakhfifDiv{
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .orgMani , .orgtakh{
      display: inline;
  }
  .wGLable{
      font-size: 12px;
      color: rgb(60, 97, 97);
  }
  .wGInput{
    width: 100%;
    height: 20%;
    border: none;
    background: none;
    box-shadow: 0 0 2px 0 rgb(194 194 194);
    border-radius: 5px;
    font-size: 13px;
  }
  #sexuality{
      width: 100%;
    height: 20%;
    border: none;
    background: none;
    box-shadow: 0 0 2px 0 rgb(194 194 194);
    border-radius: 5px;
    font-size: 13px; 
  }
  .PwGparagraf{
    text-align: justify;
    font-size: 15px;
    line-height: 30px;
    padding: 15px;
  }
  .fInputWidth{
      height: 40%;
  }
  .endWGparagraf{
    text-align: justify;
    font-size: 15px;
    line-height: 30px;
    padding: 15px;
    color: darkgoldenrod;
  }
  .fa-caret-left , .fa-caret-right{
    font-size: 12px;
    color: darkgoldenrod;
  }
  .saveInfo{
    background: none;
    border: 2px solid darkgoldenrod;
    border-radius: 5px;
    width: 40%;
    padding: 8px;
    color: darkgoldenrod;
    font-weight: bold;
  }
  .sendInfo{
    background: darkgoldenrod;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
    width: 55%;
  }
  #saveCorrect{
    font-size: 12px;
    line-height: 30px;
    text-align: justify;
    color: green;
  }
}

@media only screen and (min-width: 600px) and (max-width:768px){

    .navbarOrg{
        background-image: url(../img/BackEdit1-min.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;

        /* min-height: 500px;  */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

.navbarLogo{
    color: white;
}

.navbarWelcomParagraf{
    direction: ltr;
    color: white;
    font-weight: bold;
    width: 10ch;
    animation: typing 3s steps(13 , end), cursor-blink 0.7s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    padding: 15vh 0 0 0;
}

.cartOrg{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 0px rgb(228 228 228);
    padding: 5px 10px 5px 5px;
    margin: 0 0 20px 0;
}

.titleVideo{
    color: darkgoldenrod;
    font-weight: bold;
}

.cartTitle{
    color: darkgoldenrod;
    font-weight: bolder;
    font-size: 16px;
}

.cartParagraf{
    color: lightslategray;
    font-size: 12px;
}

/* .carousel-item img{
    width: 150px !important;
    border-radius: 50%;
} */

.carslimg{
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 8px;
    box-shadow: 0 0 2px 1px darkgoldenrod;
    border: 2px solid white;
}

.menuBtn{
    background: none;
    border: none;
    color: white;
    margin: 20px 5px 0 0;
    font-size: 12px;
}

#shHid{
    display: block;
}
#shHidTim{
    display: none;
}
#learnDis{
    display: none;
}
.timCart{
    box-shadow: 0 0 4px 0 rgb(226, 226, 226);
    padding: 15px;
    border-radius: 5px;
}
.timCart:hover{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
.timCart img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
}
.timCart h5{
    display: inline-block;
    font-weight: bold;
}
.Exercisehistory{
    font-size: 13px;
    font-weight: bold;
    margin: 2px;
}
.Exercisehistory span{
    color: darkslategray;
    font-size: 12px;
}

.disShow{
    display: block;
}

.gymTitle{
    color: darkgoldenrod;
    font-weight: bold;
    text-align: right;
}
footer{
    background-color: rgb(226, 226, 226);
}
.backDesignBy{
    background-color: rgb(218, 218, 218);
}
.desginBy{
    font-size: 15px;
    margin: 0;
    padding: 5px;
    text-align: center;
    color: rgb(148, 148, 148);
}
.callWithLi{
    font-size: 13px;
    /* margin: 3px; */
    display: inline-block;
    color: darkslateblue;
}
.callWithUl a{
    text-decoration: none;
}
.hoghooghir{
    font-size: 10px;
    color: gray;
    margin: 0;
}
.footerTitle{
    font-weight: bold;
}
video{
    border-radius: 6px;
}
.fa-instagram{
    color: purple;
}
.fa-telegram{
    color: blue;
}
.fa-phone{
    color: white;
}

.hidden {
    opacity: 0;
  }
  .texteffectEdit{
      text-align: center;
      margin-top: 14vh;
      font-size: 28px;
  }
  .card-header{
      background-color: white !important;
  }
  .btn{
      font-size: 14px !important;
      font-weight: bolder !important;
  }
  .btn:focus{
      outline: none !important;
      box-shadow: none !important;
  }

  .dropbtn {
    color: white;
    border: none;
    background: none;
    font-size: 12px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1f6;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  .dropdown-content a {
      font-size: 13px;
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a button{
      background: none;
      border: none;
      border-bottom: 1px solid darkgoldenrod;
      padding: 5px 0px 6px 0;
      width: 100px;
  }
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
  #service , #serviceTshirt , #BMICalc{
      display: none;
  }
  .serviceCard{
    box-shadow: 0px 0px 7px 0px rgb(228 228 228);
  }
  .serviceCardImg{
      width: 100px;
      height: 100px;
  }
  .servicTitle{
      font-size: 18px;
      font-weight: bolder;
  }
  .buyBtn{
    background: darkgoldenrod;
    color: white;
    border: 1px solid darkgoldenrod;
    border-radius: 5px;
    font-size: 14px;
    padding: 7px;
  }
  .Discountprice{
      font-weight: bolder;
    font-size: 13px;
    color: darkgoldenrod;
    text-decoration: line-through;
    font-family: 'Font Awesome 5 Brands';
  }
  #priceOrg{
      font-weight: bolder;
    font-size: 13px;
    color: darkgoldenrod;
    font-family: 'Font Awesome 5 Brands';
  }
  #price , #priceGainer , #priceAminoPex{
      display: block;
      margin-top: 5px;
      font-size: 14px;
      font-weight: bolder;
      font-family: 'Font Awesome 5 Brands';
  }
  .numberofnumber{
      background: none;
      border: 1px solid darkgoldenrod;
      border-radius: 3px;
      color: darkgoldenrod;
  }
  #number , #numberGainer , #numberAminoPex{
    font-family: 'Font Awesome 5 Brands';
  }
  .fa-star{
      color: darkgoldenrod;
      font-size: 12px;
  }
  .searchInput{
    background: none;
    border: none;
    box-shadow: 0px 0px 2px 0px rgb(189 189 189);
    border-radius: 5px;
    width: 60%;
    height: 5                                                                                                                               vh;
    font-size: 12px;
  }
  .searchInput:focus{
      outline: 1px solid darkgoldenrod;
      border-radius: 5px;
  }
  .searchBtn{
      background: none;
      border: 1px solid darkgoldenrod;
      border-radius: 5px;
      margin: 5px;
      box-shadow: 0px 0px 2px 0px rgb(189 189 189);
  }
  .fa-search{
      font-size: 14px;
      color: darkgoldenrod;
  }
  .formSerch{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .stickyedt{
    background-color: white;
    box-shadow: 0px 0px 2px 0px rgb(189 189 189);
    padding: 10px;
    border-radius: 0px 0px 50px 50px;
  }
  .copyBtn{
    background: none;
    border: none;
    box-shadow: 0 0 2px 0 darkgoldenrod;
    border-radius: 5px;
    padding: 10px;
    color: darkgoldenrod;
    font-weight: bold;
  }

.modalBody{
display: none;
    background: white;
    padding: 10px;
    color: black;
    font-weight: bolder;
    font-size: 10px;
}
.posEstyle{
    border-radius: 8px;
    padding: 10px;
    border: 1px solid darkgoldenrod;
    background: none;
    font-size: 12px;
    font-weight: bolder;
    color: darkgoldenrod;
}
.fa-trash{
    color: black;
    font-size: 18px;
}
#trashIcon{
    background: none;
    border: none;
    float: left;
    padding: 15px;
}
.endTheCart{
    width: 50%;
    border: 2px solid darkgoldenrod;
    background: none;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    font-size: 15px;
    color: darkgoldenrod;
    font-weight: bold;
}
.endTheCart:hover{
    background: darkgoldenrod;
    color: white;
}
#valueCopy{
    text-align: center;
}
#inputVal{
    height: 20vh;
    width: 100%;
    padding: 10px;
    border: 1px solid darkgoldenrod;
    border-radius: 5px;
}
#deleteFinish{
    display: none;
    text-align: center;
    color: gray;
    padding: 15px;
    font-size: 14px;
}
.delBtn{
    display: none;
    border: none;
    background: none;
}
.fa-trash{
    font-size: 12px;
}
.paginationOrg{
    text-align: left;
    direction: ltr;
    margin: 20px 0 20px 0;
}
.pagintion{
    color: black !important;
    padding: 7px;
        font-size: 15px;
        text-decoration: none;
        font-family: cursive;
}
.activePagintion{
    background-color: darkgoldenrod;
    border-radius: 4px;
    color: white !important;
}
.NamePN{
    background: none;
    border: none;
    color: rgb(165, 165, 165);
    font-size: 17px;
}
.NameNx{
    background: none;
    border: none;
    color: rgb(165, 165, 165);
    font-size: 17px;
    display: none;
}
.NamePN i{
    font-size: 18px;
}
#listNameSecond{
    display: none;
}
.tableCss{
    border: 1px solid darkgoldenrod ;
    border-radius: 4px ;
    padding: 10px ;
    width: 100%;
    border-collapse: initial;
}
.thCss , .tdCss{
    border: 1px dashed goldenrod;
    padding: 6px;
}
.BmiInput{
    background: none;
    border: 1px solid darkgoldenrod;
    border-radius: 5px;
    padding: 5px;
    width: 30%;
}
.BMIEnter{
    background-color: darkgoldenrod;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px;
}
.BMIWhat{
    font-weight: bold;
}
.BMIP{
    text-align: justify;
    line-height: 30px;
}
.finishSpan{
    display: none;
    font-size: 13px;
    color: forestgreen;
    font-weight: bold;
}
.btnGymCss{
    background: none;
    border: 2px solid darkgoldenrod !important;
    color: darkgoldenrod !important;
    border-radius: 5px !important;
    width: 50% !important;
    padding: 8px !important;
}
#mokamel2 , #mokamel3{
    display: none;
}
}

@media only screen and (min-width: 769px) and (max-width:992px){

    .navbarOrg{
        background-image: url(../img/BackEdit1-min.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;

        /* min-height: 500px;  */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

.navbarLogo{
    color: white;
}

.navbarWelcomParagraf{
    direction: ltr;
    color: white;
    font-weight: bold;
    width: 10ch;
    animation: typing 3s steps(13 , end), cursor-blink 0.7s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    padding: 15vh 0 0 0;
}

.cartOrg{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 0px rgb(228 228 228);
    padding: 5px 10px 5px 5px;
    margin: 0 0 20px 0;
}

.titleVideo{
    color: darkgoldenrod;
    font-weight: bold;
}

.cartTitle{
    color: darkgoldenrod;
    font-weight: bolder;
    font-size: 16px;
}

.cartParagraf{
    color: lightslategray;
    font-size: 12px;
}

/* .carousel-item img{
    width: 150px !important;
    border-radius: 50%;
} */

.carslimg{
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 8px;
    box-shadow: 0 0 2px 1px darkgoldenrod;
    border: 2px solid white;
}

.menuBtn{
    background: none;
    border: none;
    color: white;
    margin: 20px 5px 0 0;
    font-size: 12px;
}

#shHid{
    display: block;
}
#shHidTim{
    display: none;
}
#learnDis{
    display: none;
}
.timCart{
    box-shadow: 0 0 4px 0 rgb(226, 226, 226);
    padding: 15px;
    border-radius: 5px;
}
.timCart:hover{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
.timCart img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
}
.timCart h5{
    display: inline-block;
    font-weight: bold;
}
.Exercisehistory{
    font-size: 13px;
    font-weight: bold;
    margin: 2px;
}
.Exercisehistory span{
    color: darkslategray;
    font-size: 12px;
}

.disShow{
    display: block;
}

.gymTitle{
    color: darkgoldenrod;
    font-weight: bold;
    text-align: right;
}
footer{
    background-color: rgb(226, 226, 226);
}
.backDesignBy{
    background-color: rgb(218, 218, 218);
}
.desginBy{
    font-size: 15px;
    margin: 0;
    padding: 5px;
    text-align: center;
    color: rgb(148, 148, 148);
}
.callWithLi{
    font-size: 13px;
    /* margin: 3px; */
    display: inline-block;
    color: darkslateblue;
}
.callWithUl a{
    text-decoration: none;
}
.hoghooghir{
    font-size: 10px;
    color: gray;
    margin: 0;
}
.footerTitle{
    font-weight: bold;
}
video{
    border-radius: 6px;
}
.fa-instagram{
    color: purple;
}
.fa-telegram{
    color: blue;
}
.fa-phone{
    color: white;
}

.hidden {
    opacity: 0;
  }
  .texteffectEdit{
      text-align: center;
      margin-top: 14vh;
      font-size: 28px;
  }
  .card-header{
      background-color: white !important;
  }
  .btn{
      font-size: 14px !important;
      font-weight: bolder !important;
  }
  .btn:focus{
      outline: none !important;
      box-shadow: none !important;
  }

  .dropbtn {
    color: white;
    border: none;
    background: none;
    font-size: 12px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1f6;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  .dropdown-content a {
      font-size: 13px;
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a button{
      background: none;
      border: none;
      border-bottom: 1px solid darkgoldenrod;
      padding: 5px 0px 6px 0;
      width: 100px;
  }
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
  #service , #serviceTshirt , #BMICalc{
      display: none;
  }
  .serviceCard{
    box-shadow: 0px 0px 7px 0px rgb(228 228 228);
  }
  .serviceCardImg{
      width: 100px;
      height: 100px;
  }
  .servicTitle{
      font-size: 18px;
      font-weight: bolder;
  }
  .buyBtn{
    background: darkgoldenrod;
    color: white;
    border: 1px solid darkgoldenrod;
    border-radius: 5px;
    font-size: 14px;
    padding: 7px;
  }
  .Discountprice{
      font-weight: bolder;
    font-size: 13px;
    color: darkgoldenrod;
    text-decoration: line-through;
    font-family: 'Font Awesome 5 Brands';
  }
  #priceOrg{
      font-weight: bolder;
    font-size: 13px;
    color: darkgoldenrod;
    font-family: 'Font Awesome 5 Brands';
  }
  #price , #priceGainer , #priceAminoPex{
      display: block;
      margin-top: 5px;
      font-size: 14px;
      font-weight: bolder;
      font-family: 'Font Awesome 5 Brands';
  }
  .numberofnumber{
      background: none;
      border: 1px solid darkgoldenrod;
      border-radius: 3px;
      color: darkgoldenrod;
  }
  #number , #numberGainer , #numberAminoPex{
    font-family: 'Font Awesome 5 Brands';
  }
  .fa-star{
      color: darkgoldenrod;
      font-size: 12px;
  }
  .searchInput{
    background: none;
    border: none;
    box-shadow: 0px 0px 2px 0px rgb(189 189 189);
    border-radius: 5px;
    width: 60%;
    height: 5                                                                                                                               vh;
    font-size: 12px;
  }
  .searchInput:focus{
      outline: 1px solid darkgoldenrod;
      border-radius: 5px;
  }
  .searchBtn{
      background: none;
      border: 1px solid darkgoldenrod;
      border-radius: 5px;
      margin: 5px;
      box-shadow: 0px 0px 2px 0px rgb(189 189 189);
  }
  .fa-search{
      font-size: 14px;
      color: darkgoldenrod;
  }
  .formSerch{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .stickyedt{
    background-color: white;
    box-shadow: 0px 0px 2px 0px rgb(189 189 189);
    padding: 10px;
    border-radius: 0px 0px 50px 50px;
  }
  .copyBtn{
    background: none;
    border: none;
    box-shadow: 0 0 2px 0 darkgoldenrod;
    border-radius: 5px;
    padding: 10px;
    color: darkgoldenrod;
    font-weight: bold;
  }

.modalBody{
display: none;
    background: white;
    padding: 10px;
    color: black;
    font-weight: bolder;
    font-size: 10px;
}
.posEstyle{
    border-radius: 8px;
    padding: 10px;
    border: 1px solid darkgoldenrod;
    background: none;
    font-size: 12px;
    font-weight: bolder;
    color: darkgoldenrod;
}
.fa-trash{
    color: black;
    font-size: 18px;
}
#trashIcon{
    background: none;
    border: none;
    float: left;
    padding: 15px;
}
.endTheCart{
    width: 50%;
    border: 2px solid darkgoldenrod;
    background: none;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    font-size: 15px;
    color: darkgoldenrod;
    font-weight: bold;
}
.endTheCart:hover{
    background: darkgoldenrod;
    color: white;
}
#valueCopy{
    text-align: center;
}
#inputVal{
    height: 20vh;
    width: 100%;
    padding: 10px;
    border: 1px solid darkgoldenrod;
    border-radius: 5px;
}
#deleteFinish{
    display: none;
    text-align: center;
    color: gray;
    padding: 15px;
    font-size: 14px;
}
.delBtn{
    display: none;
    border: none;
    background: none;
}
.fa-trash{
    font-size: 12px;
}
.paginationOrg{
    text-align: left;
    direction: ltr;
    margin: 20px 0 20px 0;
}
.pagintion{
    color: black !important;
    padding: 7px;
        font-size: 15px;
        text-decoration: none;
        font-family: cursive;
}
.activePagintion{
    background-color: darkgoldenrod;
    border-radius: 4px;
    color: white !important;
}
.NamePN{
    background: none;
    border: none;
    color: rgb(165, 165, 165);
    font-size: 17px;
}
.NameNx{
    background: none;
    border: none;
    color: rgb(165, 165, 165);
    font-size: 17px;
    display: none;
}
.NamePN i{
    font-size: 18px;
}
#listNameSecond{
    display: none;
}
.tableCss{
    border: 1px solid darkgoldenrod ;
    border-radius: 4px ;
    padding: 10px ;
    width: 100%;
    border-collapse: initial;
}
.thCss , .tdCss{
    border: 1px dashed goldenrod;
    padding: 6px;
}
.BmiInput{
    background: none;
    border: 1px solid darkgoldenrod;
    border-radius: 5px;
    padding: 5px;
    width: 30%;
}
.BMIEnter{
    background-color: darkgoldenrod;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px;
}
.BMIWhat{
    font-weight: bold;
}
.BMIP{
    text-align: justify;
    line-height: 30px;
}
.finishSpan{
    display: none;
    font-size: 13px;
    color: forestgreen;
    font-weight: bold;
}
.btnGymCss{
    background: none;
    border: 2px solid darkgoldenrod !important;
    color: darkgoldenrod !important;
    border-radius: 5px !important;
    width: 50% !important;
    padding: 8px !important;
}
#mokamel2 , #mokamel3{
    display: none;
}
}

@media only screen and (min-width: 993px) and (max-width:1200px){

    .navbarOrg{
        background-image: url(../img/BackEdit1-min.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;

        /* min-height: 500px;  */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

.navbarLogo{
    color: white;
}

.navbarWelcomParagraf{
    direction: ltr;
    color: white;
    font-weight: bold;
    width: 10ch;
    animation: typing 3s steps(13 , end), cursor-blink 0.7s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    padding: 15vh 0 0 0;
}

.cartOrg{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 0px rgb(228 228 228);
    padding: 5px 10px 5px 5px;
    margin: 0 0 20px 0;
}

.titleVideo{
    color: darkgoldenrod;
    font-weight: bold;
}

.cartTitle{
    color: darkgoldenrod;
    font-weight: bolder;
    font-size: 16px;
}

.cartParagraf{
    color: lightslategray;
    font-size: 12px;
}

/* .carousel-item img{
    width: 150px !important;
    border-radius: 50%;
} */

.carslimg{
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 8px;
    box-shadow: 0 0 2px 1px darkgoldenrod;
    border: 2px solid white;
}

.menuBtn{
    background: none;
    border: none;
    color: white;
    margin: 20px 5px 0 0;
    font-size: 12px;
}

#shHid{
    display: block;
}
#shHidTim{
    display: none;
}
#learnDis{
    display: none;
}
.timCart{
    box-shadow: 0 0 4px 0 rgb(226, 226, 226);
    padding: 15px;
    border-radius: 5px;
}
.timCart:hover{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
.timCart img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
}
.timCart h5{
    display: inline-block;
    font-weight: bold;
}
.Exercisehistory{
    font-size: 13px;
    font-weight: bold;
    margin: 2px;
}
.Exercisehistory span{
    color: darkslategray;
    font-size: 12px;
}

.disShow{
    display: block;
}

.gymTitle{
    color: darkgoldenrod;
    font-weight: bold;
    text-align: right;
}
footer{
    background-color: rgb(226, 226, 226);
}
.backDesignBy{
    background-color: rgb(218, 218, 218);
}
.desginBy{
    font-size: 15px;
    margin: 0;
    padding: 5px;
    text-align: center;
    color: rgb(148, 148, 148);
}
.callWithLi{
    font-size: 13px;
    /* margin: 3px; */
    display: inline-block;
    color: darkslateblue;
}
.callWithUl a{
    text-decoration: none;
}
.hoghooghir{
    font-size: 10px;
    color: gray;
    margin: 0;
}
.footerTitle{
    font-weight: bold;
}
video{
    border-radius: 6px;
}
.fa-instagram{
    color: purple;
}
.fa-telegram{
    color: blue;
}
.fa-phone{
    color: white;
}

.hidden {
    opacity: 0;
  }
  .texteffectEdit{
      text-align: center;
      margin-top: 14vh;
      font-size: 28px;
  }
  .card-header{
      background-color: white !important;
  }
  .btn{
      font-size: 14px !important;
      font-weight: bolder !important;
  }
  .btn:focus{
      outline: none !important;
      box-shadow: none !important;
  }

  .dropbtn {
    color: white;
    border: none;
    background: none;
    font-size: 12px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1f6;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  .dropdown-content a {
      font-size: 13px;
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a button{
      background: none;
      border: none;
      border-bottom: 1px solid darkgoldenrod;
      padding: 5px 0px 6px 0;
      width: 100px;
  }
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
  #service , #serviceTshirt , #BMICalc{
      display: none;
  }
  .serviceCard{
    box-shadow: 0px 0px 7px 0px rgb(228 228 228);
  }
  .serviceCardImg{
      width: 100px;
      height: 100px;
  }
  .servicTitle{
      font-size: 18px;
      font-weight: bolder;
  }
  .buyBtn{
    background: darkgoldenrod;
    color: white;
    border: 1px solid darkgoldenrod;
    border-radius: 5px;
    font-size: 14px;
    padding: 7px;
  }
  .Discountprice{
      font-weight: bolder;
    font-size: 13px;
    color: darkgoldenrod;
    text-decoration: line-through;
    font-family: 'Font Awesome 5 Brands';
  }
  #priceOrg{
      font-weight: bolder;
    font-size: 13px;
    color: darkgoldenrod;
    font-family: 'Font Awesome 5 Brands';
  }
  #price , #priceGainer , #priceAminoPex{
      display: block;
      margin-top: 5px;
      font-size: 14px;
      font-weight: bolder;
      font-family: 'Font Awesome 5 Brands';
  }
  .numberofnumber{
      background: none;
      border: 1px solid darkgoldenrod;
      border-radius: 3px;
      color: darkgoldenrod;
  }
  #number , #numberGainer , #numberAminoPex{
    font-family: 'Font Awesome 5 Brands';
  }
  .fa-star{
      color: darkgoldenrod;
      font-size: 12px;
  }
  .searchInput{
    background: none;
    border: none;
    box-shadow: 0px 0px 2px 0px rgb(189 189 189);
    border-radius: 5px;
    width: 60%;
    height: 5                                                                                                                               vh;
    font-size: 12px;
  }
  .searchInput:focus{
      outline: 1px solid darkgoldenrod;
      border-radius: 5px;
  }
  .searchBtn{
      background: none;
      border: 1px solid darkgoldenrod;
      border-radius: 5px;
      margin: 5px;
      box-shadow: 0px 0px 2px 0px rgb(189 189 189);
  }
  .fa-search{
      font-size: 14px;
      color: darkgoldenrod;
  }
  .formSerch{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .stickyedt{
    background-color: white;
    box-shadow: 0px 0px 2px 0px rgb(189 189 189);
    padding: 10px;
    border-radius: 0px 0px 50px 50px;
  }
  .copyBtn{
    background: none;
    border: none;
    box-shadow: 0 0 2px 0 darkgoldenrod;
    border-radius: 5px;
    padding: 10px;
    color: darkgoldenrod;
    font-weight: bold;
  }

.modalBody{
display: none;
    background: white;
    padding: 10px;
    color: black;
    font-weight: bolder;
    font-size: 10px;
}
.posEstyle{
    border-radius: 8px;
    padding: 10px;
    border: 1px solid darkgoldenrod;
    background: none;
    font-size: 12px;
    font-weight: bolder;
    color: darkgoldenrod;
}
.fa-trash{
    color: black;
    font-size: 18px;
}
#trashIcon{
    background: none;
    border: none;
    float: left;
    padding: 15px;
}
.endTheCart{
    width: 50%;
    border: 2px solid darkgoldenrod;
    background: none;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    font-size: 15px;
    color: darkgoldenrod;
    font-weight: bold;
}
.endTheCart:hover{
    background: darkgoldenrod;
    color: white;
}
#valueCopy{
    text-align: center;
}
#inputVal{
    height: 20vh;
    width: 100%;
    padding: 10px;
    border: 1px solid darkgoldenrod;
    border-radius: 5px;
}
#deleteFinish{
    display: none;
    text-align: center;
    color: gray;
    padding: 15px;
    font-size: 14px;
}
.delBtn{
    display: none;
    border: none;
    background: none;
}
.fa-trash{
    font-size: 12px;
}
.paginationOrg{
    text-align: left;
    direction: ltr;
    margin: 20px 0 20px 0;
}
.pagintion{
    color: black !important;
    padding: 7px;
        font-size: 15px;
        text-decoration: none;
        font-family: cursive;
}
.activePagintion{
    background-color: darkgoldenrod;
    border-radius: 4px;
    color: white !important;
}
.NamePN{
    background: none;
    border: none;
    color: rgb(165, 165, 165);
    font-size: 17px;
}
.NameNx{
    background: none;
    border: none;
    color: rgb(165, 165, 165);
    font-size: 17px;
    display: none;
}
.NamePN i{
    font-size: 18px;
}
#listNameSecond{
    display: none;
}
.tableCss{
    border: 1px solid darkgoldenrod ;
    border-radius: 4px ;
    padding: 10px ;
    width: 100%;
    border-collapse: initial;
}
.thCss , .tdCss{
    border: 1px dashed goldenrod;
    padding: 6px;
}
.BmiInput{
    background: none;
    border: 1px solid darkgoldenrod;
    border-radius: 5px;
    padding: 5px;
    width: 30%;
}
.BMIEnter{
    background-color: darkgoldenrod;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px;
}
.BMIWhat{
    font-weight: bold;
}
.BMIP{
    text-align: justify;
    line-height: 30px;
}
.finishSpan{
    display: none;
    font-size: 13px;
    color: forestgreen;
    font-weight: bold;
}
.btnGymCss{
    background: none;
    border: 2px solid darkgoldenrod !important;
    color: darkgoldenrod !important;
    border-radius: 5px !important;
    width: 50% !important;
    padding: 8px !important;
}
#mokamel2 , #mokamel3{
    display: none;
}
}

@media only screen and (min-width: 1201px){

    .navbarOrg{
        background-image: url(../img/BackEdit1-min.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;

        /* min-height: 500px;  */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

.navbarLogo{
    color: white;
}

.navbarWelcomParagraf{
    direction: ltr;
    color: white;
    font-weight: bold;
    width: 10ch;
    animation: typing 3s steps(13 , end), cursor-blink 0.7s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    padding: 15vh 0 0 0;
}

.cartOrg{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 0px rgb(228 228 228);
    padding: 5px 10px 5px 5px;
    margin: 0 0 20px 0;
}

.titleVideo{
    color: darkgoldenrod;
    font-weight: bold;
}

.cartTitle{
    color: darkgoldenrod;
    font-weight: bolder;
    font-size: 16px;
}

.cartParagraf{
    color: lightslategray;
    font-size: 12px;
}

/* .carousel-item img{
    width: 150px !important;
    border-radius: 50%;
} */

.carslimg{
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 8px;
    box-shadow: 0 0 2px 1px darkgoldenrod;
    border: 2px solid white;
}

.menuBtn{
    background: none;
    border: none;
    color: white;
    margin: 20px 5px 0 0;
    font-size: 17px;
}

#shHid{
    display: block;
}
#shHidTim{
    display: none;
}
#learnDis{
    display: none;
}
.timCart{
    box-shadow: 0 0 4px 0 rgb(226, 226, 226);
    padding: 15px;
    border-radius: 5px;
}
.timCart:hover{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
.timCart img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
}
.timCart h5{
    display: inline-block;
    font-weight: bold;
}
.Exercisehistory{
    font-size: 13px;
    font-weight: bold;
    margin: 2px;
}
.Exercisehistory span{
    color: darkslategray;
    font-size: 12px;
}

.disShow{
    display: block;
}

.gymTitle{
    color: darkgoldenrod;
    font-weight: bold;
    text-align: right;
}
footer{
    background-color: rgb(226, 226, 226);
}
.backDesignBy{
    background-color: rgb(218, 218, 218);
}
.desginBy{
    font-size: 15px;
    margin: 0;
    padding: 5px;
    text-align: center;
    color: rgb(148, 148, 148);
}
.callWithLi{
    font-size: 13px;
    color: darkslateblue;
    margin: 12px;
}
.callWithUl a{
    text-decoration: none;
}
.hoghooghir{
    font-size: 10px;
    color: gray;
    margin: 0;
}
.footerTitle{
    font-weight: bold;
}
video{
    border-radius: 6px;
}
.fa-instagram{
    color: purple;
}
.fa-telegram{
    color: blue;
}
.fa-phone{
    color: white;
}

.hidden {
    opacity: 0;
  }
  .texteffectEdit{
      text-align: center;
      margin-top: 35vh;
      font-size: 35px;
  }
  .card-header{
      background-color: white !important;
  }
  .btn{
      font-size: 14px !important;
      font-weight: bolder !important;
  }
  .btn:focus{
      outline: none !important;
      box-shadow: none !important;
  }

  .dropbtn {
    color: white;
    border: none;
    background: none;
    font-size: 17px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1f6;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  .dropdown-content a {
      font-size: 13px;
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a button{
      background: none;
      border: none;
      border-bottom: 1px solid darkgoldenrod;
      padding: 5px 0px 6px 0;
      width: 100px;
  }
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
  #service , #serviceTshirt , #BMICalc{
      display: none;
  }
  .serviceCard{
    box-shadow: 0px 0px 7px 0px rgb(228 228 228);
  }
  .serviceCardImg{
      width: 100px;
      height: 100px;
  }
  .servicTitle{
      font-size: 18px;
      font-weight: bolder;
  }
  .buyBtn{
    background: darkgoldenrod;
    color: white;
    border: 1px solid darkgoldenrod;
    border-radius: 5px;
    font-size: 14px;
    padding: 7px;
  }
  .Discountprice{
      font-weight: bolder;
    font-size: 13px;
    color: darkgoldenrod;
    text-decoration: line-through;
    font-family: 'Font Awesome 5 Brands';
  }
  #priceOrg{
      font-weight: bolder;
    font-size: 13px;
    color: darkgoldenrod;
    font-family: 'Font Awesome 5 Brands';
  }
  #price , #priceGainer , #priceAminoPex{
      display: block;
      margin-top: 5px;
      font-size: 14px;
      font-weight: bolder;
      font-family: 'Font Awesome 5 Brands';
  }
  .numberofnumber{
      background: none;
      border: 1px solid darkgoldenrod;
      border-radius: 3px;
      color: darkgoldenrod;
  }
  #number , #numberGainer , #numberAminoPex{
    font-family: 'Font Awesome 5 Brands';
  }
  .fa-star{
      color: darkgoldenrod;
      font-size: 12px;
  }
  .searchInput{
    background: none;
    border: none;
    box-shadow: 0px 0px 2px 0px rgb(189 189 189);
    border-radius: 5px;
    width: 60%;
    height: 5                                                                                                                               vh;
    font-size: 12px;
  }
  .searchInput:focus{
      outline: 1px solid darkgoldenrod;
      border-radius: 5px;
  }
  .searchBtn{
      background: none;
      border: 1px solid darkgoldenrod;
      border-radius: 5px;
      margin: 5px;
      box-shadow: 0px 0px 2px 0px rgb(189 189 189);
  }
  .fa-search{
      font-size: 14px;
      color: darkgoldenrod;
  }
  .formSerch{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .stickyedt{
    background-color: white;
    box-shadow: 0px 0px 2px 0px rgb(189 189 189);
    padding: 10px;
    border-radius: 0px 0px 50px 50px;
  }
  .copyBtn{
    background: none;
    border: none;
    box-shadow: 0 0 2px 0 darkgoldenrod;
    border-radius: 5px;
    padding: 10px;
    color: darkgoldenrod;
    font-weight: bold;
  }

.modalBody{
display: none;
    background: white;
    padding: 10px;
    color: black;
    font-weight: bolder;
    font-size: 10px;
}
.posEstyle{
    border-radius: 8px;
    padding: 10px;
    border: 1px solid darkgoldenrod;
    background: none;
    font-size: 12px;
    font-weight: bolder;
    color: darkgoldenrod;
}
.fa-trash{
    color: black;
    font-size: 18px;
}
#trashIcon{
    background: none;
    border: none;
    float: left;
    padding: 15px;
}
.endTheCart{
    width: 50%;
    border: 2px solid darkgoldenrod;
    background: none;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    font-size: 15px;
    color: darkgoldenrod;
    font-weight: bold;
}
.endTheCart:hover{
    background: darkgoldenrod;
    color: white;
}
#valueCopy{
    text-align: center;
}
#inputVal{
    height: 20vh;
    width: 100%;
    padding: 10px;
    border: 1px solid darkgoldenrod;
    border-radius: 5px;
}
#deleteFinish{
    display: none;
    text-align: center;
    color: gray;
    padding: 15px;
    font-size: 14px;
}
.delBtn{
    display: none;
    border: none;
    background: none;
}
.fa-trash{
    font-size: 12px;
}
.paginationOrg{
    text-align: left;
    direction: ltr;
    margin: 20px 0 20px 0;
}
.pagintion{
    color: black !important;
    padding: 7px;
        font-size: 15px;
        text-decoration: none;
        font-family: cursive;
}
.activePagintion{
    background-color: darkgoldenrod;
    border-radius: 4px;
    color: white !important;
}
.NamePN{
    background: none;
    border: none;
    color: rgb(165, 165, 165);
    font-size: 17px;
}
.NameNx{
    background: none;
    border: none;
    color: rgb(165, 165, 165);
    font-size: 17px;
    display: none;
}
.NamePN i{
    font-size: 18px;
}
#listNameSecond{
    display: none;
}
.tableCss{
    border: 1px solid darkgoldenrod ;
    border-radius: 4px ;
    padding: 10px ;
    width: 100%;
    border-collapse: initial;
}
.thCss , .tdCss{
    border: 1px dashed goldenrod;
    padding: 6px;
}
.BmiInput{
    background: none;
    border: 1px solid darkgoldenrod;
    border-radius: 5px;
    padding: 5px;
    width: 30%;
}
.BMIEnter{
    background-color: darkgoldenrod;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px;
}
.BMIWhat{
    font-weight: bold;
}
.BMIP{
    text-align: justify;
    line-height: 30px;
}
.finishSpan{
    display: none;
    font-size: 13px;
    color: forestgreen;
    font-weight: bold;
}
.btnGymCss{
    background: none;
    border: 2px solid darkgoldenrod !important;
    color: darkgoldenrod !important;
    border-radius: 5px !important;
    width: 50% !important;
    padding: 8px !important;
}
#mokamel2 , #mokamel3{
    display: none;
}
.videoWeb{
    width: 70%;
    height: 80%;
}
}